<div class="container justify-content-center mt-5 mb-5">
  <div class="card shadow">
  <!-- START CARD HEADER-->
    <div class="card-header cardHeaderBackground">
    
      <div class='row p-4'>   
          <div class="box_avatar mr-2 col-xl-2 col-sm-8 col-md-6 col-lg-2">
              <%= image_tag('profile_avatar', class: "avatarMatchUser")%>
          </div>
          <div class="bioMatchUser ml-5 mt-4 col-xl-4 col-sm-12 col-md-4 col-lg-3">
              <h2>John Smith</h1>
              <p>28 years old</p>
              <p>
                  <i class="fas fa-map-marker-alt"></i>
                  New york
              </p>
              <p>
                  <% 3.times do %>
                      <i class="fas fa-star"></i>
                  <% end %>
                  <i class="fas fa-star-half-alt"></i>
                  <i class="far fa-star"></i>
              </p>
              
          </div>
          <!-- table info user -->
          <div class="tableInfoUser row col-xl-5 col-sm-12 col-md-12 col-lg-5">
          <table class="table tableColorText">
              <thead>
                  <tr>
                      <th scope="col">Mathing</th>
                      <th scope="col">Last login</th>
                  </tr>
              </thead>
              <tbody> 
                <tr>
                    <td scope="row">18</td>
                    <td>30 Juillet 2020</td> 
                </tr> 
              </tbody>  
          </table>
          </div>
        <!-- end table info user-->
        <div class="col-xl-3 col-sm-6 col-md-6 col-lg-3 ml-3">
          <a href="#" class="sendMathRequestButton btn btn-info mt-3 mb-3">Send match request</a>
        </div>
      </div>
    </div>
    <!-- END CARD HEADER-->
    <div class="card-body containerBody">
    <div class='row mt-3'>
        <div class='col-lg-5 col-xl-5 col-sm-12 col-md-12 interest'>
            <h3 class='card-title text-center mb-5'>My interests</h3>
            <% current_user.interests.each do |interest|%>
            <h4><%= interest.name %></h4>
            <div class="progress mb-5">
                <div class="progress-bar progressBarMatchUser" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <% end %>
        </div>
        <div class='card-text col-lg-6 col-xl-6 col-sm-12 col-md-12 ml-lg-5 ml-xl-5'>
          <h2>Who I am ?</h2>
          <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Phasellus porta accumsan eleifend. Nullam non consequat risus.
              Cras rhoncus, est ac egestas sodales, ipsum libero pulvinar est, id dapibus lacus ligula sit amet sem.
              Donec mauris orci, luctus at mauris a, mollis iaculis libero.
              Proin auctor, lectus et rutrum tempus, eros lacus posuere nunc, eu semper arcu magna non velit.
              Proin ornare urna placerat volutpat varius. Fusce luctus dui id odio tempus, posuere porttitor nisl efficitur.
              Ut a risus lacus. Etiam elementum dapibus sem eu dignissim. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Interdum et malesuada fames ac ante ipsum primis in faucibus.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>