console.log("Index update js called");
<% puts "=========== matches update.js.erb was called"%>
<% match_params = params.require(:match).permit(:matched_user) %>
$('#request-button-match-<%=params[:id].to_i%> ').html("<div class='btn btn-outline btn-sm text-uppercase mt-4 text-info'>Request sent</div>");
