<!-- Image and text -->
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="<% %>">
    <img src="http://tinygraphs.com/spaceinvaders/FindNewFriends?theme=duskfalling&numcolors=4&size=220&fmt=svg" width="30" height="30" class="d-inline-block align-top" alt="">
Find New Friends</a>

</nav> 